

body {
    background: #000;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.video-container {
  position:relative;
  height: 100vh;
}


/* """""LOADER""""" */

.ml-loader {
    z-index: 15;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;

  }
  
  .ml-loader div {
    -webkit-transform-origin: 32px 32px;
    -ms-transform-origin: 32px 32px;
    transform-origin: 32px 32px;
    -webkit-animation: 1.2s opaque ease-in-out infinite both;
    animation: 1.2s opaque ease-in-out infinite both;
  }
  
  .ml-loader div::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 30px;
    width: 5px;
    height: 18px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .ml-loader div:nth-child(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .ml-loader div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .ml-loader div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .ml-loader div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .ml-loader div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .ml-loader div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .ml-loader div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .ml-loader div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .ml-loader div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .ml-loader div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  .ml-loader div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .ml-loader div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  .ml-loader div:nth-child(13) {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes opaque {
    0% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }
  
  @keyframes opaque {
    0% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.1;
    }
  }


.bgVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlayVideo {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.brainVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}


#landingButtons {
    position:fixed;
    z-index:13;
    display: none;
    transform: translate(-50%, 0);
    top: 90%;
    left: 50%;
    text-align: center;
}

#documentSamples {
    width: 100vw;
    height: 100vh;
    z-index:10;
}

.documentSamplesButtons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    margin: auto;
    text-align: center;
}

.documentSamplesButtons input {
    padding: 3%;
    width: 13%;
}

.title {
    display: block;
    z-index:10;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);

}

.logo {
    position: fixed;
  display: block;
  /*width: 100%;*/
    z-index:10;
    top: 2%;
    left: 5%;
    right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


#footerButtons {
    position:fixed;
    z-index:14;
    display: block;
    top: 90%;
    right: 2%
}

#footerButtons input {
    padding: 0 5px;
}

#tab {
    width: 100vw;
    height: auto;
    position: absolute;
    z-index:13;
    top:  10%;
    text-align: center;    
}

#tab input {
    width: 14%;
    padding: 0 12px;
}

.errorIcon {
    position: fixed;
    left: 78.5%;
    top: 40%;
    display: block;
    width: 4%;
    height: auto;
    z-index:12;
    display: none;
}

#semiStructuredButtons {
    position:fixed;
    z-index:13;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    left: 66%;
    top: 52%;
    right: 5%;
    height:auto;
}

#semiStructuredButtons input:first-child, 
#semiStructuredButtons input:nth-child(2) {
  width: 35%;
  padding: 10px 15px;
}

#semiStructuredButtons input:last-child {
    width: 12%;
    padding-left: 8px;
}

#Tru-Tructor {
  max-width: 100%;
    max-height: 100%;
    z-index: 14;
    position: absolute;
    left: 58%;
    top: 56%;

    visibility: hidden;
}

#Tru-Tructor button {
  z-index: 14;
  color: transparent;
  background: transparent;
  border: none;
  padding: 28px 30px;
}

@media screen and (width: 1920px) and (height: 969px) {
  #semiStructuredButtons {
      left: 71%;
      right: 10%;
  }
  #semiStructuredButtons input:first-child, #semiStructuredButtons input:nth-child(2) {
      width: 40%;
      padding: 10px;
  }

  #Tru-Tructor {
    left: 57%;
    top: 57%;
  }
  #Tru-Tructor button {
    padding: 39px 52px;
  }
  
}

@media screen and (width: 1920px) and (height: 965px) {

  #semiStructuredButtons input:first-child, #semiStructuredButtons input:nth-child(2) {
    width: 38%;
  }

  #Tru-Tructor {
    left: 56.5%;
    top: 57%;
  }
  #Tru-Tructor button {
    padding: 40px 57px;
  }

}

@media screen and (width: 1920px) and (height: 1080px) {
  #Tru-Tructor {
    left: 57.5%;
    top: 57%;
  }
  #Tru-Tructor button {
    padding: 47px 66px;
  }
  .errorIcon {
    left: 82%;
    top: 41%;
  }
  #semiStructuredButtons {
    max-width: 22%;
    left: 73%;
  }
  #semiStructuredButtons input:first-child, #semiStructuredButtons input:nth-child(2) {
    width: 38%;
  }
}

@media screen and (width: 1366px) and (height: 768px) {
  #Tru-Tructor {
    left: 57.5%;
    top: 57%;
  }
  #Tru-Tructor button {
    padding: 30px 37px;
  }

  #semiStructuredButtons {
    max-width: 22%;
    left: 73%;
  }
  .errorIcon {
    left: 82%;
    top: 41%;
  }
}

@media screen and (width: 1280px) and (height: 800px) {
  #Tru-Tructor {
    left: 57.5%;
    top: 56%;
  }
  #Tru-Tructor button {
    padding: 28px 34px;
  }

  .errorIcon {
    left: 82%;
    top: 42%;
  }

  #semiStructuredButtons {
    max-width: 25%;
    left: 73%;
    top: 51%;

  }

}

@media screen and (width: 1440px) and (height: 900px) {
  #Tru-Tructor {
    left: 57.5%;
    top: 56.5%;
  }
  #Tru-Tructor button {
    padding: 30px 40px;
  }

  .errorIcon {
    left: 82%;
    top: 42%;
  }

  #semiStructuredButtons {
    max-width: 22%;
    left: 73%;
  }

}

@media screen and (width: 1920px) and (height: 1200px) {
 #Tru-Tructor {
    left: 57.5%;
    top: 56.5%;
  }
  #Tru-Tructor button {
    padding: 43px 65px;
  }

  .errorIcon {
    left: 82%;
    top: 42%;
  }

  #semiStructuredButtons {
    max-width: 22%;
    left: 73%;
  }
  #semiStructuredButtons input:first-child, #semiStructuredButtons input:nth-child(2) {
    width: 37%;
  }

}

@media screen and (width: 2880px) and (height: 1800px) {
  #Tru-Tructor {
    left: 57.5%;
    top: 56.5%;
  }
  #Tru-Tructor button {
    padding: 68px 115px;
  }

  .errorIcon {
    left: 82%;
    top: 42%;

  }

  #semiStructuredButtons {
    max-width: 21%;
    left: 73%
  }

  #semiStructuredButtons input:first-child, #semiStructuredButtons input:nth-child(2) {
    width: 40%;
  }

}


/* new style */
.document-samples {
  display: none;
}
.un-structured {
  display: none;
}
.semi-structured
/* , #semiStructured  */
{
  display: none;
}
.structured {
  display: none;
}
.doc-images {
  display: none;
}